<template>
  <div class="active-skill">
    <div v-for="skill in idol.liveSkill" :key="skill.index" class="skill-col">
      {{ skill.name }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'active-skill',
  data () {
    return {
    }
  },
  props: {
    idol: Object
  }
}
</script>

<style>
h2 {
  font-weight: normal;
}
.skill-col {
  width: 150px;
  height: 100px;
  margin: 5px;
}
</style>
