<template>
  <div class="wrapper">
    <div class="level-input">
      <label for="lv">Lv : </label>
      <input v-model="level" type="number" />
    </div>
    <div class="rank-input">
      <label for="rank">特訓 : </label>
      <select v-model="rank">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>
</template>

<script>
export default {
  name: 'input-level-rank',
  data () {
    return {
      level: 1,
      rank: 0
    }
  },
  props: {
    propsLevel: Number,
    propsRank: Number
  }
}
</script>

<style scoped>
input {
  width: 30px;
}
select {
  width: 40px;
}
.wrapper {
  width: 100px;
  text-align: right;
}
</style>
