<template>
<transition name="modal">
    <div class="modal" @click.self="modalClose">
      <h1>{{ type }} idol select</h1>
      <div v-if="type == 'Produce'" class="produce-idol-list">
        <div @click="unsetSelectedIdol('p')" class="idol-col">はずす</div>
        <div v-for="idol in produceIdolArray" :key="idol.id" class="idol-col">
          <div v-if="selectedProduceIdol.id != idol.id" @click="setSelectedIdol('p', idol)">
            <div class="idol-icon-unselected">
              icon
              <p>{{ idol.name }}</p>
            </div>
          </div>
          <div v-else>
            <div class="idol-icon-selected">
              icon
              <p>{{ idol.name }}</p>
            </div>
          </div>
        </div>
      </div>

      <div v-if="type == 'Support'" class="support-idol-list">
        <div @click="unsetSelectedIdol('s')" class="idol-col">はずす</div>
        <div v-for="idol in supportIdolArray" :key="idol.id" class="idol-col">
          <div v-if="isSelectedSupportIdol(idol.id)">
            <div class="idol-icon-selected">
              icon
              <p> {{ idol.name }}</p>
            </div>
          </div>
          <div v-else @click="setSelectedIdol('s', idol)" class="idol-icon-unselected">
            icon
            <p>{{ idol.name }}</p>
          </div>
        </div>
      </div>
      <button @click="modalClose">modal close</button>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'modal',
  data () {
    return {
    }
  },
  methods: {
    modalClose: function () {
      this.$emit('modalClose')
    },
    setSelectedIdol: function (t, idol) {
      this.$emit('setSelectedIdol', t, idol)
      this.modalClose()
    },
    unsetSelectedIdol: function (t) {
      this.$emit('unsetSelectedIdol', t)
      this.modalClose()
    },
    isSelectedSupportIdol: function (n) {
      for (var i of this.selectedSupportIdols) {
        if (i.id === n) {
          return true
        }
      }
      return false
    }
  },
  props: {
    type: String, // 'Produce' or 'Support'
    produceIdolArray: Array,
    supportIdolArray: Array,
    selectedProduceIdol: Object,
    selectedSupportIdols: Array,
    selectedSlot: Number
  }
}
</script>

<style scoped>
h1 {
  font-weight: normal;
  color: white;
}
.modal {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, .7);
  transform: translate3d(0, 0, 0);
}
.modal-enter-active {transition: opacity .2s;}
.modal-enter {opacity: 0;}
.modal-enter-to {opacity: 1;}
.modal-leave-active {transition: opacity .2s;}
.modal-leave {opacity: 1;}
.modal-leave-to {opacity: 0;}

.modal__contnet {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.modal__content > p {
  margin: 0;
  width: 600px;
  vertical-align: middle;
  text-align: center;
  font: bold;
  color: white;
  background: white;
}
.produce-idol-list {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto;
  background: silver;
}
.support-idol-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 80%;
  margin: auto;
  background: silver;
}
.idol-col {
  width: 100px;
  height: 200px;
  margin: 20px;
  background: wheat;
}
.idol-icon-unselected {
  width: 100px;
  height: 180px;
  background: white;
}
.idol-icon-selected {
  width: 100px;
  height: 180px;
  background: gray;
}
</style>
