<template>
  <div class="panel">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'panel',
  data () {
    return {
      msg: 'Here is panel col'
    }
  }
}
</script>

<style scoped>
  h1 {
    font-weight: normal;
  }
</style>
