<template>
  <div class="simulator">
    <h1>シミュレーター</h1>
    <team-template
    :produceIdolArray="produceIdols"
    :supportIdolArray="supportIdols"></team-template>
    <panel-template></panel-template>
  </div>
</template>

<script>
import Vue from 'vue'
import Team from '@/components/Team'
import Panel from '@/components/Panel'

export default {
  name: 'Simulator',
  data () {
    return {
      produceIdols: [
        {
          id: 1,
          name: 'まの',
          rarity: 'SSR',
          idolUnit: 'illumination STARS',
          liveSkill: [
            {
              name: 'ほわっとスマイル',
              desp: 'Vo&Vi 2倍',
              link: 'Vo&Vi 50% UP',
              unlock: 0,
              sp: 20,
              img: ''
            },
            {
              name: 'ほわっとスマイル＋',
              desp: 'Vo&Vi 3倍',
              link: 'Vo&Vi 50% UP',
              unlock: 4,
              sp: 40,
              img: ''
            }
          ],
          panelSkill: [
            {
              desp: 'Vo 7% UP',
              cond: '4ターン以前',
              prob: '20%',
              max: '1回',
              unlock: 0,
              sp: 20,
              img: ''
            },
            {
              desp: 'Vi 7% UP',
              cond: 'スター10以上',
              prob: '30%',
              max: '1回',
              unlock: 0,
              sp: 40,
              img: ''
            }
          ],
          burstAppeal: [
            {
              appealName: 'キラキラふわふわ',
              desp: '思い出アピールLv1',
              link: 'Vo%Vi 25% UP'
            },
            {
              appealName: 'キラキラふわふわ＋',
              desp: '思い出アピールLv2',
              link: 'Vo%Vi 25% UP'
            },
            {
              appealName: 'キラキラふわふわ＋＋',
              desp: '思い出アピールLv3',
              link: 'Vo%Vi 50% UP'
            },
            {
              appealName: 'キラキラふわふわ＋＋＋',
              desp: '思い出アピールLv4',
              link: 'Vo%Vi 50% UP'
            },
            {
              appealName: '[成長]キラキラふわふわ',
              desp: '思い出アピールLv5/Vo40%UP',
              link: 'Vo%Vi 50% UP'
            }
          ]
        },
        {
          id: 2,
          name: '三峰',
          rarity: 'SR',
          idolUnit: 'アンティーカ',
          liveSkill: [
            {
              name: 'えい',
              desp: 'Da 2倍',
              link: 'Da%Vi 25% UP',
              unlock: 0,
              sp: 20,
              img: ''
            }
          ],
          panelSkill: [
            {
              desp: 'Vi 7% UP',
              cond: 'スター10以上',
              prob: '30%',
              max: '1回',
              unlock: 0,
              img: ''
            }
          ],
          burstAppeal: [
            {
              appealName: 'キラキラふわふわ',
              desp: '思い出アピールLv1',
              link: 'Vo%Vi 25% UP'
            }
          ]
        }
      ],
      supportIdols: [
        {
          id: 1,
          name: 'ひおり',
          liveSkill: [
            {
              name: 'ビジュアルアピールⅣひおり',
              desp: 'Visual2.5倍アピール',
              unlock: 0,
              sp: 20,
              img: ''
            }
          ]
        },
        {
          id: 2,
          name: 'めぐる',
          liveSkill: [
            {
              name: 'ビジュアルアピールめぐる',
              desp: 'Visual2.5倍アピール',
              unlock: 0,
              sp: 20,
              img: ''
            }
          ]
        },
        {
          id: 3,
          name: 'こがね'
        },
        {
          id: 4,
          name: 'まみみ',
          liveSkill: [
            {
              name: 'ビジュアルアピーまみみ',
              desp: 'Visual2.5倍アピール',
              unlock: 0,
              sp: 20,
              img: ''
            }
          ]
        },
        {
          id: 5,
          name: 'きりこ',
          liveSkill: [
            {
              name: 'ビジュアルアピールきりこ',
              desp: 'Visual2.5倍アピール',
              unlock: 0,
              sp: 20,
              img: ''
            }
          ]
        },
        {
          id: 6,
          name: 'さくや',
          liveSkill: [
            {
              name: 'ビジュアルアピールさきゅあ',
              desp: 'Visual2.5倍アピール',
              unlock: 0,
              sp: 20,
              img: ''
            }
          ]
        }
      ]
    }
  }
}

Vue.component('team-template', Team)
Vue.component('panel-template', Panel)
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
