<template>
  <div class="team">
    <h1>{{ msg }}</h1>
    <div class="team-idolselect">
      <div class="team-idolselect-produce">
        <!-- タップすると検索ボックスありのPアイドルリストのモーダル表示 -->
        <div class="pidol-1">
          <div class="team-idolselect-produce-icon" @click="modalOpen(0)">{{ selectedProduceIdol.name }}</div>
          <input-level-and-rank></input-level-and-rank>
          <modal v-if="isOpenP" type="Produce"
          :produceIdolArray="produceIdolArray"
          :selectedProduceIdol="selectedProduceIdol"
          @modalClose="modalClose(0)"
          @setSelectedIdol="setSelectedIdol"
          @unsetSelectedIdol="unsetSelectedIdol" />
        </div>
      </div>
      <div class="team-idolselect-support">
        <!-- タップすると検索ボックスありのSアイドルリストのモーダル表示 -->
        <div class="sidol-1">
          <div class="team-idolselect-support-icon" @click="modalOpen(1)">{{ selectedSupportIdols[0].name }}</div>
          <input-level-and-rank></input-level-and-rank>
        </div>
        <div class="sidol-2">
          <div class="team-idolselect-support-icon" @click="modalOpen(2)">{{ selectedSupportIdols[1].name }}</div>
          <input-level-and-rank></input-level-and-rank>
        </div>
        <div class="sidol-3">
          <div class="team-idolselect-support-icon" @click="modalOpen(3)">{{ selectedSupportIdols[2].name }}</div>
          <input-level-and-rank></input-level-and-rank>
        </div>
        <div class="sidol-4">
          <div class="team-idolselect-support-icon" @click="modalOpen(4)">{{ selectedSupportIdols[3].name }}</div>
          <input-level-and-rank></input-level-and-rank>
        </div>
        <div class="sidol-5">
          <div class="team-idolselect-support-icon" @click="modalOpen(5)">{{ selectedSupportIdols[4].name }}</div>
          <input-level-and-rank></input-level-and-rank>
        </div>
        <modal v-if="isOpenS" type="Support" :supportIdolArray="supportIdolArray" :selectedSupportIdols="selectedSupportIdols"
        :selectedSlot="selectedSlot"
        @modalClose="modalClose(1)"
        @setSelectedIdol="setSelectedIdol"
        @unsetSelectedIdol="unsetSelectedIdol" />
      </div>
    </div>
    <div class="team-status">
      <div class="active-skil">
        <h2>Live Skill</h2>
        <div class="active-skill-wrap">
          <active-skill :idol="selectedProduceIdol"></active-skill>
          <active-skill
          v-for="idol in selectedSupportIdols"
          :key="idol.index"
          :idol="idol"></active-skill>
        </div>
      </div>
      <div class="passive-skil">
        <h2>Passive Skill</h2>
      </div>
      <div class="unit-bonus">
        <h2>Unit Bonus</h2>
      </div>
      <div class="event-bonus-status">
        <h2>Event Bonus</h2>
      </div>
    </div>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
import InputLevelAndRank from '@/components/InputLevelAndRank'
import ActiveSkill from '@/components/ActiveSkill.vue'

export default {
  name: 'team-template',
  components: {
    Modal,
    InputLevelAndRank,
    ActiveSkill
  },
  data () {
    return {
      msg: 'Here is team col',
      selectedProduceIdol: {},
      selectedSupportIdols: [{}, {}, {}, {}, {}],
      isOpenP: false,
      isOpenS: false,
      selectedSlot: Number
    }
  },
  props: {
    produceIdolArray: Array,
    supportIdolArray: Array
  },
  methods: {
    modalOpen: function (n) {
      if (n === 0) {
        this.isOpenP = true
      } else {
        this.selectedSlot = n
        this.isOpenS = true
      }
    },
    modalClose: function () {
      this.isOpenP = false
      this.isOpenS = false
    },
    setSelectedIdol: function (t, idol) {
      if (t === 'p') {
        this.selectedProduceIdol = idol
      } else if (t === 's') {
        this.selectedSupportIdols[this.selectedSlot - 1] = idol
      }
    },
    unsetSelectedIdol: function (t) {
      if (t === 'p') {
        this.selectedProduceIdol = {}
      } else if (t === 's') {
        this.selectedSupportIdols[this.selectedSlot - 1] = {}
      }
    }
  }
}
</script>

<style scoped>
  h1,h2 {
    font-weight: normal;
  }
  input {
    width: 50px;
  }
  .team-idolselect {
    display: flex;
    justify-content: center;
  }
  .team-idolselect-produce-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50px;
    background: pink;
  }
  .team-idolselect-support {
    display: flex;
  }
  .team-idolselect-support-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50px;
    background: paleturquoise;
  }
  .team-status {
    text-align: left;
  }
  .active-skill-wrap {
    display: flex;
  }
</style>
