<template>
  <div id="app">
    <div calss="header">
      <p>here is header</p>
    </div>
    <router-view/>
    <div calss="footer"> here is footer</div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style scoped>
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 800px;
  margin: auto;
  text-align: center;
  color: #2c3e50;
}
</style>
